# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Keys
config

# VScode setup
UQCS-Hackathon-2019.code-workspace

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

coverage.html

# Miscellaneous
miscellaneous